@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    padding: 0;
    margin: 0;
}
.cabecalho{
    background-color: rgb(70, 23, 125, 1);
    width: 100%;
    height: 150px;
}
.cabecalho__logo{
    width:260px;
}
.voltar{
    margin: 25px 0 0 50px;
    width: 50px;
}
#titulo{
    font-size: 2rem;
    font-family: 'Concert One', sans-serif;;
    text-align: center;
    margin-bottom: 4rem;
    color: rgba(0, 215, 139, 1);
}
.entrada, .intervalo, .retorno, .saida{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.div__entrada, .div__intervalo, .div__retorno, .div__saida{
    font-family: 'Montserrat', sans-serif;
    color:rgba(108, 115, 112, 1) ;
    background-color:rgba(206, 200, 200, 1) ;
    padding: 1.3rem ;
    text-transform: uppercase;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 11rem;
    font-size: 1.4rem;
    text-align: left;
    
}
.horario__entrada, .horario__intervalo, .horario__retorno, .horario__saida{
 border: none;
 color: white;
 background-color:rgba(206, 200, 200, 1) ;
 margin-left: 0.1rem;
 font-size: 2rem;
 font-family:'Montserrat', sans-serif;
 outline: none;
 border-top-right-radius: 15px;
 border-end-end-radius: 15px;
 width: 10rem;
 text-align: right;
}